body {
  margin: 0;
}

#control-bar {
  display: block;
  width: 100%;
  background-color: #54C7FF;
  margin-bottom: 20px;
  padding: 15px 50px;
  color: white;
  font-size: 22px;
}

#control-bar > * {
  display: inline-block;
}

#control-bar > button {
  font-size: 16px;
  color: white;
  background-color: #2FE8A0;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: 10px;
  border: none;
}

#control-bar > button:hover {
  cursor: pointer;
}

#control-bar > #search {
  margin-left: 20px;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 10px;
}

#control-bar > #search-button {
  background-color: #2FE8A0;
  font-size: 20px;
}

/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
/*          trello column          */
/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */

#trello-column-holder {
  display: flex;
  flex-flow: row wrap;
}

trello-column {
  border-radius: 15px;
  display: block;
  height: auto;
  padding: 10px;
  margin: 5px;
  width: 25%;
  background-color: #5EFF40;
}

.column-title-holder > h1 {
  text-align: center;
}

.column-title-holder > h1:hover {
  cursor: pointer;
}

.column-title-holder > input {
  height: 32px;
  font-size: 32px;
  width: 120px;
  display: block;
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

.columns-buttons-group > button {
  display: inline-block;
  width: 75px;
  margin: 10px auto;
}


/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
/*          trello card            */
/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
trello-card {
  display: block;
  border: 1px solid black;
  background-color: #FFCD50;
  padding: 5px 10px;
  margin: 1px auto;
  width: 90%;
}

.card-contents-holder > input {
  font-size: 16px;
  display: block;
  margin: 5px;
}

.card-contents-holder > h4 {
  text-decoration: underline;
  margin: 5px;
  width: 50%;
}

.card-contents-holder > p {
  margin: 2px;
  display: none;
  width: 70%;
}

.card-contents-holder > h4:hover, p:hover {
  cursor: pointer;
}
