#control-bar > * {
  display: inline-block;
}

/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
/*          trello column          */
/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */

#column-holder {
  display: flex;
  flex-flow: row wrap;
}

trello-column {
  border: 1px solid black;
  display: block;
  height: auto;
  padding: 10px 40px 20px;
  margin: 5px;
  width: 25%;
}

.column-title-holder > h1:hover {
  cursor: pointer;
}

.column-title-holder > input {
  margin-top: 20px;
  height: 18px;
  font-size: 18px;
  width: 120px;
}

.columns-buttons-group > button {
  display: inline-block;
  width: 75px;
  margin: 10px auto;
}


/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
/*          trello card            */
/* @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ */
trello-card {
  display: block;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px auto;
  width: 70%;
}

.card-contents-holder > input {
  font-size: 16px;
  display: block;
  margin: 5px;
}

.card-contents-holder > h4 {
  display: inline-block;
  text-decoration: underline;
  margin: 5px;
}

.card-contents-holder > p {
  margin: 2px;
  display: none;
}

.card-contents-holder > h4:hover, p:hover {
  cursor: pointer;
}
